/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #aaccdd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #0c0c0c;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #090808;
    border-radius: 4px;
    font-size: 14px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.display-graphs {
    background-color: #f1f4f7;
    color: #0e0c0c;
}

.display-graphs:hover {
    background-color: #0cec0c;
}

.exit {
    background-color: #add7ea;
    color: #0c0b0b;
}

.exit:hover {
    background-color: #c82333;
}